# Rendered to ~/.config/git/config by the git step; __PLACEHOLDERS__ come from
# setup/config/profile.env.
[user]
  name = __GIT_USER_NAME__
  email = __GIT_USER_EMAIL__
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[pull]
  ff = only
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
